,:before,:after {
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
@media screen and min-width 480px
{
	form {
		max-width: 480px;
	}
}
body {
	color: black;
	font-family: Georgia, Tahoma;
}
button {
	background-color: cornflowerblue;
	border: 1px solid cornflowerblue;
	border-radius: 5px;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	color: #FFF;
	font-size: 18px;
	font-style: normal;
	margin-bottom: 10px;
	padding: 19px 39px 18px;
	text-align: center;
	width: 100%;
}
fieldset {
	border: none;
	margin-bottom: 30px;
}
form {
	background: darkgrey;
	border-radius: 2%;
	margin: 20px auto;
	max-width: 600px;
	padding: 50px;
}
h1 {
	margin: 0 0 30px;
	text-align: center;
}
input[type="checkbox"] {
	margin: 0 4px 8px 0;
}
input[type="text"],input[type="email"],textarea,select {
	background-color: whitesmoke;
	border: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	color: #8a97a0;
	font-size: 16px;
	height: auto;
	margin: 0 0 30px;
	outline: 0;
	padding: 15px;
	width: 100%;
}
label {
	display: block;
	margin-bottom: 8px;
}
label.pretty {
	display: inline;
	font-weight: 300;
}
legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
select {
	border-radius: 2px;
	height: 32px;
	padding: 6px;
}
}
a:hover {
	color: black;
}
ul li a {
	text-decoration: none;
}
.form-icon {
	background-color: cornflowerblue;
	border-radius: 10%;
	color: antiquewhite;
	display: inline-block;
	font-size: .8em;
	height: 30px;
	line-height: 30px;
	margin-right: 4px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	width: 30px;
}
.main-nav {
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
}
.nav {
	background-color: #6666ff;
	display: flex;
	font-weight: 700;
	justify-content: space-around;
	list-style-type: none;
	margin: 0 auto;
	padding: 30px;
}
.right {
	text-align: right
}
#submit:hover {
	background-color: darkmagenta;
	border: 2px solid black;
	color: black;
}
