*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', Tahoma;
  color: black;
  background-color: white;
}

form {
  max-width: 300px;
  margin: 20px auto;
  padding: 10px 20px;
  background: white;
  border-radius: 2%;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: whitesmoke;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: cornflowerblue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid cornflowerblue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 20px;
}

img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

#deleteButton {
  display: none;
}

label.pretty {
  font-weight: 300;
  display: inline;
}

.form-icon {
  background-color: cornflowerblue;
  color: antiquewhite;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

#submit:hover {
  color: black;
  background-color: darkmagenta;
  border: 2px solid black
}


@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

#signup {
  /*z-index: 10000000000000000000000000000;*/
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

#profileFrontPage {
  display: none;
  position: relative;
  /*z-index: -1;*/
  width: 100%;
  height: 100%;
}
