html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
}

section {
  text-align: center;
  padding: 25px;
  background-color: lightgrey;
}

nav {
  text-align: center;
  padding: 25px;
  background-color: lightblue;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

input {
  width: 300px;
  height: 40px;
  font-size: 20px;
}

button {
  width: 100px;
  height: 46px;
  margin-left: 20px;
}

strong {
  font-size: 16px;
}

img {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 25px;
  height: 60px;
}

.input {
  float: right;
  width: 20px;
  height: 50px;
}

.itemPushed {
  font-size: 18px;
  margin-left: 10px;
}

#container {
  width: 50px;
}

#menuForm {
  display: block;
}

#pushButton {
  margin-left: 40px;
  font-family: sans-serif;
  font-size: 18px;
  width:200px;
  height: 50px;
}
